body {
    font-family: 'Roboto', sans-serif;
}

.sec-lista {
    padding: 1rem;
}

.lista-pokemons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.pokemon {
    margin: .5rem;
    padding: 1rem;
    border-radius: 1em;
    height: 100px;
    background-color: #14A06F;
    color: white;
}
