.poke-info{
    position: sticky;
    width: 50%;
    height: 100vh;
    top: 0;
    background-color: #dFe0d3;
    margin-left: 1px solid black;
    box-shadow: inset 0.2rem 0 10px black;
}

.invisible{
    display: none;
    width: 0;
    height: 0;
    margin: 0;
    box-shadow: none;
}

header{
    justify-content: space-between;
    padding: 5px;
}

h3{
    margin: 0;
}

.pokemon-info-general {
    margin: 0;
    border-radius: 0;
    padding: 1rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    color: white;
    box-shadow: inherit;
}

.atributos {
    text-align: right;
}

.poke-atribute {
    font-size: 1.5rem;
    font-weight: bold;
    width: 100%;
    padding: 15px 0;
    border-bottom: solid 2px black;
    box-shadow: inset -5px 0 0 0 black;
}

.close{
    background-color: inherit;
}

.down-com-lista{
    right: 40vw;
}